.cardProjects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cardIndividual{
   
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.555);
    padding: 10px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    position: relative;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    
}
.imageCard{
    transition: .5s ease;
    backface-visibility: hidden;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}


.middle {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ba6900b9;
  border-radius: 10px;
  }
  
 
.cardIndividual:hover .middle {
    opacity: 1;

  }
.text {
    color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  }