.status{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: rgba(235, 221, 92, 0.26);
    border: 3px solid #55000079;
    width: 46%;
    height: 30%;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 5px );
}

@media only screen and (max-width: 500px){
    .status {
      width: 100%;
      height: 200%;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;

    }
  }

  li {
    list-style-type: none;
  }