.App{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.titleBar{

}

.menuBar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}