.main{
    display:flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 700px){
    .main {
      width: 100%;
      height: 200%;
    }
  }
  @media only screen and (max-height: 600px){
    .main {
      width: 100%;
      height: 500%;
    }
  }

  @media only screen and (max-width: 300px){
    .main {
      width: 200%;
      height: 400%;
    }
  }

.title{
    position: fixed;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    align-content: center;
    width: 100%;
    background: #55000079;
    box-shadow: 0 8px 32px 0 rgba(104, 92, 92, 0.384);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@media only screen and (max-width: 700px){
    .title {
      width: 100%;
      height: 200%;
      flex-wrap: wrap;
      position: relative;
    }
  }
  @media only screen and (max-width: 500px){
    .title {
        width: 100%;
        height: 200%;
        flex-wrap: wrap;
        position: relative;

    }
  }
.menuBar a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 80%;
    transition: 0.5s;

}
.menuBar a:hover{
    color: rgb(255, 72, 72);
    font-size: 120%;
    transition: 0.5s;

}

.titleBar{

}
.avatar{
    width: 80px;
}
.menuBar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-content: center;
    align-items: center;
}

.privateData{
    display: flex;
    gap: 20px;
}
.privateData a{
    color: rgb(252, 133, 35);
}
.icon{
    font-size: 150%;
    transition: 0.5s;

}
.icon:hover{
    color: rgb(255, 72, 72);
    transition: 0.5s;

}
.status{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: rgba(235, 221, 92, 0.26);
    border: 3px solid #55000079;
    width: 46%;
    height: 30%;
}

@media only screen and (max-width: 500px){
    .status {
      width: 100%;
      height: 200%;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;

    }
  }

.cardProjects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cardIndividual{
   
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.555);
    padding: 10px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    position: relative;
    
}
.imageCard{
    transition: .5s ease;
    backface-visibility: hidden;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}


.middle {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ba6900b9;
  border-radius: 10px;
  }
  
 
  .cardIndividual:hover .middle {
    opacity: 1;

  }
  .text {
    color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  }

  .baseBoard{
      display: flex;
      background-color: #aa620479;
      align-items: flex-end;
      flex-direction: row;
      justify-content: center;
      color: aliceblue;
      backdrop-filter: blur( 5px );


  }